<div class="o_logo_wrapper">
      <a href="{{ pathto(master_doc) }}" class="o_logo">
          <img src="{{ pathto('_static/img/logos/odoo_logo.svg', 1) }}"
               height="30" alt="Odoo"/>
          <span class="text-dark fw_extralight">docs</span>
      </a>
</div>
{% include "layout_templates/searchbox.html" %}
<div class="d-none d-md-flex">
    {#{% if alternate_languages %}#}
        {% include "layout_templates/language_switcher.html" %}
    {#{% endif %}#}
    {#{% if alternate_versions %}#}
        {% include "layout_templates/version_switcher.html" %}
    {#{% endif %}#}
    <a class="btn btn-primary fw_semibold" href="https://odoo.com/trial">Try Odoo for FREE</a>
</div>