<div class="o_versions row me-2">
	<div class="col-4 col-form-label">
    	<label class="fw_bold small me-2">Version</label>
    </div>
    <div class="col-8">
        <div class="dropdown">
            {% if alternate_versions|length > 0 %}
                <button class="btn border dropdown-toggle"
                        id="versions"
                        data-bs-toggle="dropdown">
                    {{ version }} {# The current version #}
                </button>
            {% else %}
                <button class="btn border"
                        id="versions"
                        disabled="">
                    {{ version }} {# The current version #}
                </button>
            {% endif %}
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="versions">
                {% for alternate_version, url in alternate_versions %}
                    <li><a class="dropdown-item" href="{{ url }}">{{ alternate_version }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
