# All changes to technical files (build environment and Sphinx extensions) have to be approved
/extensions/         @odoo/doc-review
.gitignore           @odoo/doc-review
commit_template.txt  @odoo/doc-review
conf.py              @odoo/doc-review
Makefile             @odoo/doc-review
requirements.txt     @odoo/doc-review

# All changes to legal material have to be approved
/content/legal/     @odoo/legal
/content/legal.rst  @odoo/legal
