docutils==0.16.0  # Compatibility with sphinx-tabs 3.2.0.
libsass==0.20.1
pygments~=2.6.1
pygments-csv-lexer~=0.1
sphinx==4.3.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-qthelp==1.0.3
sphinx-tabs==3.2.0
