docutils==0.16.0 ; python_version < '3.12'
docutils==0.20.1 ; python_version >= '3.12'
libsass==0.20.1 ; python_version < '3.12'
libsass==0.22.0 ; python_version >= '3.12'
pygments~=2.6.1 ; python_version < '3.12'
pygments==2.17.2 ; python_version >= '3.12'
pygments-csv-lexer~=0.1
sphinx==4.3.2 ; python_version < '3.12'
sphinx==7.2.6 ; python_version >= '3.12'
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-serializinghtml==1.1.5 ; python_version < '3.12'
sphinxcontrib-serializinghtml==1.1.10 ; python_version >= '3.12'
sphinxcontrib-qthelp==1.0.3
sphinx-tabs==3.2.0 ; python_version < '3.12'
sphinx-tabs==3.4.5 ; python_version >= '3.12'  # docutils pinned to 0.18.0 in 3.4.4
