//------------------------------------------------------------------------------
// icomoon icons
//------------------------------------------------------------------------------

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

.i-arrow-up {
  &:before {
    content: $i-arrow-up;
  }
}
.i-arrow-down {
  &:before {
    content: $i-arrow-down;
  }
}
.i-arrow-left {
  &:before {
    content: $i-arrow-left;
  }
}
.i-arrow-right {
  &:before {
    content: $i-arrow-right;
  }
}
.i-chevron-up {
  &:before {
    content: $i-chevron-up;
  }
}
.i-chevron-down {
  &:before {
    content: $i-chevron-down;
  }
}
.i-chevron-left {
  &:before {
    content: $i-chevron-left;
  }
}
.i-chevron-right {
  &:before {
    content: $i-chevron-right;
  }
}
.i-link {
  &:before {
    content: $i-link;
  }
}
.i-external-link {
  &:before {
    content: $i-external-link;
  }
}
.i-websites {
  &:before {
    content: $i-websites;
  }
}
.i-sales {
  &:before {
    content: $i-sales;
  }
}
.i-sales_2 {
  &:before {
    content: $i-sales_2;
  }
}
.i-marketing {
  &:before {
    content: $i-marketing;
  }
}
.i-apps_1 {
  &:before {
    content: $i-apps_1;
  }
}
.i-apps_2 {
  &:before {
    content: $i-apps_2;
  }
}
.i-app_features {
  &:before {
    content: $i-app_features;
  }
}
.i-app-favorites {
  &:before {
    content: $i-app-favorites;
  }
}
.i-basics {
  &:before {
    content: $i-basics;
  }
}
.i-cart {
  &:before {
    content: $i-cart;
  }
}
.i-shop {
  &:before {
    content: $i-shop;
  }
}
.i-accountant {
  &:before {
    content: $i-accountant;
  }
}
.i-customer-reviews {
  &:before {
    content: $i-customer-reviews;
  }
}
.i-hr {
  &:before {
    content: $i-hr;
  }
}
.i-developer {
  &:before {
    content: $i-developer;
  }
}
.i-users {
  &:before {
    content: $i-users;
  }
}
.i-doc-hr {
  &:before {
    content: $i-doc-hr;
  }
}
.i-doc-apps {
  &:before {
    content: $i-doc-apps;
  }
}
.i-doc-contribute {
  &:before {
    content: $i-doc-contribute;
  }
}
.i-doc-admin_2 {
  &:before {
    content: $i-doc-admin_2;
  }
}
.i-doc-dev {
  &:before {
    content: $i-doc-dev;
  }
}
.i-doc-services {
  &:before {
    content: $i-doc-services;
  }
}
.i-doc-admin {
  &:before {
    content: $i-doc-admin;
  }
}
.i-documentation {
  &:before {
    content: $i-documentation;
  }
}
.i-scaleup {
  &:before {
    content: $i-scaleup;
  }
}
.i-knowledge {
  &:before {
    content: $i-knowledge;
  }
}
.i-tutorial {
  &:before {
    content: $i-tutorial;
  }
}
.i-elearning_1 {
  &:before {
    content: $i-elearning_1;
  }
}
.i-elearning_2 {
  &:before {
    content: $i-elearning_2;
  }
}
.i-install {
  &:before {
    content: $i-install;
  }
}
.i-o-edu {
  &:before {
    content: $i-o-edu;
  }
}
.i-certifications {
  &:before {
    content: $i-certifications;
  }
}
.i-events {
  &:before {
    content: $i-events;
  }
}
.i-showcase {
  &:before {
    content: $i-showcase;
  }
}
.i-jobs {
  &:before {
    content: $i-jobs;
  }
}
.i-finances {
  &:before {
    content: $i-finances;
  }
}
.i-money-bag {
  &:before {
    content: $i-money-bag;
  }
}
.i-money-plant {
  &:before {
    content: $i-money-plant;
  }
}
.i-o-help {
  &:before {
    content: $i-o-help;
  }
}
.i-o-logo {
  &:before {
    content: $i-o-logo;
  }
}
.i-o-services {
  &:before {
    content: $i-o-services;
  }
}
.i-o-tour {
  &:before {
    content: $i-o-tour;
  }
}
.i-services {
  &:before {
    content: $i-services;
  }
}
.i-operations_1 {
  &:before {
    content: $i-operations_1;
  }
}
.i-operations_2 {
  &:before {
    content: $i-operations_2;
  }
}
.i-performance {
  &:before {
    content: $i-performance;
  }
}
.i-time-management_2 {
  &:before {
    content: $i-time-management_2;
  }
}
.i-time-management {
  &:before {
    content: $i-time-management;
  }
}
.i-advanced {
  &:before {
    content: $i-advanced;
  }
}
.i-search {
  &:before {
    content: $i-search;
  }
}
.i-view {
  &:before {
    content: $i-view;
  }
}
.i-view-more {
  &:before {
    content: $i-view-more;
  }
}
.i-view-next {
  &:before {
    content: $i-view-next;
  }
}
.i-partners {
  &:before {
    content: $i-partners;
  }
}
.i-contact {
  &:before {
    content: $i-contact;
  }
}
.i-forums {
  &:before {
    content: $i-forums;
  }
}
.i-github {
  &:before {
    content: $i-github;
  }
}
.i-support {
  &:before {
    content: $i-support;
  }
}
.i-collaborating {
  &:before {
    content: $i-collaborating;
  }
}
.i-compare {
  &:before {
    content: $i-compare;
  }
}
.i-themes {
  &:before {
    content: $i-themes;
  }
}
.i-translate {
  &:before {
    content: $i-translate;
  }
}
.i-release {
  &:before {
    content: $i-release;
  }
}
.i-info {
  &:before {
    content: $i-info;
  }
}
.i-warning {
  &:before {
    content: $i-warning;
  }
}
.i-danger {
  &:before {
    content: $i-danger;
  }
}
.i-note {
  &:before {
    content: $i-note;
  }
}
.i-exercise {
  &:before {
    content: $i-exercise;
  }
}
.i-lightbulb {
  &:before {
    content: $i-lightbulb;
  }
}
.i-check {
  &:before {
    content: $i-check;
  }
}
.i-edit {
  &:before {
    content: $i-edit;
  }
}
.i-article {
  &:before {
    content: $i-article;
  }
}
.i-sidepanel {
  &:before {
    content: $i-sidepanel;
  }
}
.i-close {
  &:before {
    content: $i-close;
  }
}
