// ================================================
// ================  Mixins =======================
// ================================================

// Utilities
// ------------------------------------------------------------------
.o-no-select {
    pointer-events: none;
    cursor: default;
    &, & * {
        &::selection {
            background: transparent;
        }
        &::-moz-selection {
            background: transparent;
        }
    }
}

@mixin o-position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto){
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

@mixin o-transform-origin($x: 50%, $y: 50%, $z: 0){
    -ms-transform-origin: $x $y $z;
    -webkit-transform-origin: $x $y $z;
    -moz-transform-origin: $x $y $z;
    transform-origin: $x $y $z;
}

@mixin o-transition($property: all, $duration: 0s, $timing-function: ease, $transition-delay: 0s){
    -webkit-transition: $property $duration $timing-function $transition-delay;
    -moz-transition: $property $duration $timing-function $transition-delay;
    -o-transition: $property $duration $timing-function $transition-delay;
    transition: $property $duration $timing-function $transition-delay;
}

// Backgrounds
// ------------------------------------------------------------------
@mixin o-svg-bg($file_name,$file_ext,$x:50%, $y:50%, $repeat: no-repeat, $folder: ''){
    $std-url: url("img/${folder}${file_name}.${file_ext}");
    $svg-url: url("img/${folder}${file_name}.svg");
    background-image: $std-url;
    background-image: $svg-url;
    background-position: $x $y;
    background-repeat: $repeat;
}

@mixin o-retina-bg($img,$x:50%, $y:50%, $repeat: no-repeat, $folder: ''){
    $std-url: url("img/${folder}${img}");
    background-image: $std-url;
    background-position: $x $y;
    background-repeat: $repeat;

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    // $2x-url: url("img/${folder}${website-2x-prefix}${img}");
        background-image: url("img/${folder}${website-2x-prefix}${img}");
    }
}

@mixin o-gradient($deg: 99deg , $startColor: $o-violet-dark, $endColor: $o-violet-darker, $startOffset: 10%, $endOffset: 90%){
    background: mix($startColor, $endColor);
    background: -webkit-linear-gradient($deg, $startColor $startOffset, $endColor $endOffset);
    background: -moz-linear-gradient($deg, $startColor $startOffset, $endColor $endOffset);
    background: -ms-linear-gradient($deg, $startColor $startOffset, $endColor $endOffset);
    background: -o-linear-gradient($deg, $startColor $startOffset, $endColor $endOffset);
    background: linear-gradient($deg, $startColor $startOffset, $endColor $endOffset);
}

@mixin transform($args){
  -webkit-transform : $args;
  -moz-transform    : $args;
  -ms-transform     : $args;
  -o-transform      : $args;
  transform         : $args;
}

//-- Material Design Icons
@mixin mdi-icon($content){
    font-family: 'Material-Design-Icons';
    content: $content;
    display: inline-block;
    text-rendering: geometricPrecision;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin inline-icon($img-url, $size, $margin){
    content: '';
    display: inline-block;
    width: $size;
    height: $size;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url($img-url);
    margin: $margin;

}

@mixin inline-icomoon($icon-content, $margin) {
    content: '#{$icon-content}';
    font-family: '#{$icomoon-font-family}' !important;
    @include font-size(1.5rem);
    font-weight: $fw_regular;
    vertical-align: middle;
    margin: $margin;
}

//-- has_col

@mixin pseudo-col(){
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

@mixin code-col(){
  content: "";
  background: $doc_code-bg;
  /* @include box-shadow(inset 40px 0 40px -18px rgba(22, 24, 29, 0.3)); */
  @include o-position-absolute($top: 3rem, $right:0);
  width: 43%;
  height: calc(100% - 3rem);
}
