// =============================================================================
// Typography
// =============================================================================

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff2') format('woff2'),
    url('fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//------------------------------------------------------------------------------
// Headings
//------------------------------------------------------------------------------
// Increase Inter's readability when used for huge titles.
@for $i from 1 through 4 {
    .display-#{$i}, h#{$i}, .h#{$i} {
        letter-spacing: (3 - $i) * -0.01em; // eg: display-1 -> -0.02em;
    }
}

//------------------------------------------------------------------------------
// Font Styling
//------------------------------------------------------------------------------
b, strong{
    font-weight: $font-weight-bolder;
}

a {
    font-weight: var(--o-link-fontweight, #{$font-weight-bold});
}
