$grid-breakpoint-xxl: 1400px;
$grid-breakpoint-xxxl: 1680px;

$container-max-width-xxl:1380px;
$container-max-width-xxxl: 1560px;

// Typography
// ===============================================
$font-family-serif:           'Roboto Slab', Georgia, "Times New Roman", Times, serif;

$fw_extralight:                             200;
$fw_light:                                  300;
$fw_regular:                                400;
$fw_medium:                                 500;
$fw_semibold:                               600;
$fw_bold:                                   700;
$fw_extrabold:                              800;
$fw_black:                                  900;

$font-size-secondary:                       .875rem;

//------------------------------------------------------------------------------
// icomoon icons
//------------------------------------------------------------------------------

$i-arrow-up: "\e948";
$i-arrow-down: "\e945";
$i-arrow-left: "\e946";
$i-arrow-right: "\e947";
$i-chevron-up: "\e94c";
$i-chevron-down: "\e949";
$i-chevron-left: "\e94a";
$i-chevron-right: "\e94b";
$i-link: "\e94f";
$i-external-link: "\e940";
$i-websites: "\e944";
$i-sales: "\e953";
$i-sales_2: "\e931";
$i-marketing: "\e922";
$i-apps_1: "\e904";
$i-apps_2: "\e905";
$i-app_features: "\e902";
$i-app-favorites: "\e903";
$i-basics: "\e906";
$i-cart: "\e907";
$i-shop: "\e937";
$i-accountant: "\e900";
$i-customer-reviews: "\e90d";
$i-hr: "\e91c";
$i-developer: "\e90e";
$i-users: "\e93f";
$i-doc-hr: "\e90f";
$i-doc-apps: "\e910";
$i-doc-contribute: "\e911";
$i-doc-admin_2: "\e912";
$i-doc-dev: "\e92d";
$i-doc-services: "\e913";
$i-doc-admin: "\e933";
$i-documentation: "\e914";
$i-scaleup: "\e934";
$i-knowledge: "\e920";
$i-tutorial: "\e93e";
$i-elearning_1: "\e915";
$i-elearning_2: "\e916";
$i-install: "\e91e";
$i-o-edu: "\e926";
$i-certifications: "\e908";
$i-events: "\e917";
$i-showcase: "\e938";
$i-jobs: "\e91f";
$i-finances: "\e919";
$i-money-bag: "\e923";
$i-money-plant: "\e924";
$i-o-help: "\e927";
$i-o-logo: "\e928";
$i-o-services: "\e929";
$i-o-tour: "\e92a";
$i-services: "\e936";
$i-operations_1: "\e92b";
$i-operations_2: "\e92c";
$i-performance: "\e92f";
$i-time-management_2: "\e93b";
$i-time-management: "\e93c";
$i-advanced: "\e901";
$i-search: "\e935";
$i-view: "\e952";
$i-view-more: "\e950";
$i-view-next: "\e951";
$i-partners: "\e92e";
$i-contact: "\e90c";
$i-forums: "\e91a";
$i-github: "\e91b";
$i-support: "\e939";
$i-collaborating: "\e90a";
$i-compare: "\e90b";
$i-themes: "\e93a";
$i-translate: "\e93d";
$i-release: "\e930";
$i-info: "\e91d";
$i-warning: "\e943";
$i-danger: "\e94d";
$i-note: "\e925";
$i-exercise: "\e918";
$i-lightbulb: "\e921";
$i-check: "\e909";
$i-edit: "\e932";
$i-article: "\e94e";
$i-sidepanel: "\e941";
$i-close: "\e942";


//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
//Replace bootstrap's gray values
$white:                                     #FFFFFF;
$gray-100:                                  #F9F9F9 !default;
$gray-200:                                  #F2F2F2 !default;
$gray-300:                                  #DEE2E6 !default;
$gray-400:                                  #D5D5D5 !default;
$gray-500:                                  #ADB5BD !default;
$gray-600:                                  #888888 !default;
$gray-700:                                  #707070 !default;
$gray-800:                                  #343A40 !default;
$gray-900:                                  #282F33 !default;

$o-light:                                   $white;
$o-dark :                                   $gray-800;

$o-gray-light :                             $gray-400;
$o-gray :                                   $gray-600;

$o-gray-border:                             $gray-400;
$o-gray-bg:                                 $gray-100;
$o-gray-color:                              $gray-900;

$o-violet :                                 #7A436B; //Odoo's #875a7b Doesn't give AAA contrast on white background
$o-blue :                                   #77b5d1;
$o-cyan:                                    #0dcaf0;
$o-teal :                                   #017e84;
$o-green :                                  #519161;
$o-orange:                                  #ffa930;
$o-red:                                     #D9534F;
$o-red-light:                               #FF5722;

$blue:                                      $o-blue;
$purple:                                    $o-violet;
$cyan:                                      $o-cyan;
$red:                                       $o-red;
$orange:                                    $o-orange;
$green:                                     $o-green;
$teal:                                      $o-teal;

$primary:                                   $o-teal;
$secondary:                                 $o-violet;
$light:                                     $o-light;
$dark:                                      $o-dark;
$success:                                   $green;
$info:                                      $blue;
$warning:                                   $orange;
$danger:                                    $red;
$note:                                      shade-color($blue,10%);
$tip:                                       $teal;
$example:                                   $green;
$exercise:                                  $gray-700;
$go-to:                                     $o-violet;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

//------------------------------------------------------------------------------
// Misc
//------------------------------------------------------------------------------

// Header
$o-header-mobile-height:                    50px;
$o-header-height:                           80px;
$o-header-bg:                               $white;

$o-subheader-height:                        32px;

$o-headers-mobile-height:                   $o-header-mobile-height + $o-subheader-height;
$o-headers-height:                          $o-header-height + $o-subheader-height;
// Navigation
$o-side-nav-width:                          350px;
$o-on-page-width:                           20%;

// o_has_code_column pages
$o-halfpage-width:                          54%;
$o-codecol-width:                           43%;

// Paddings and margins
$padding-xs:                                .5rem;
$padding-s:                                 1rem;
$padding-m:                                 2rem;
$padding-l:                                 3rem;
$margin-s:                                  $padding-s;
$margin-m:                                  $padding-m;
$margin-l:                                  $padding-l;

//------------------------------------------------------------------------------
// Components
//------------------------------------------------------------------------------

// Accordion
$o-accordion-bg:                            $o-gray-bg!default;
