$grid-breakpoint-xxl: 1400px;
$grid-breakpoint-xxxl: 1680px;

$container-max-width-xxl:1380px;
$container-max-width-xxxl: 1560px;

// Odoo Colours
// ==============================================
$o-violet-dark           : #875A7B;
$o-violet-darker         : #603c5e;

$o-inverse-lightest      : #98A6B0;
$o-inverse-light         : #8B979F;
$o-inverse               : #47738F;
$o-inverse-dark          : #5B7687;
$o-inverse-darker        : #485761;

//== Apps' Families Colours
$color-alpha             : #00A09D;
$color-alpha-dark        : #18856F;
$color-alpha-light       : #26D1AF;
$color-alpha-lightest    : #2AEBC4;

$color-beta              : #5B899E;
$color-beta-dark         : #3D5D6B;
$color-beta-light        : #699FB8;
$color-beta-lightest     : #77B5D1;

$color-gamma             : #E46F78;
$color-gamma-dark        : #B0565C;
$color-gamma-light       : #FC7C84;
$color-gamma-lightest    : #FC959C;

$color-delta             : #5C5B80;
$color-delta-dark        : #37364D;
$color-delta-light       : #6E6D99;
$color-delta-lightest    : #807FB3;

$color-epsilon           : #D5653E;
$color-epsilon-dark      : #A34E2F;
$color-epsilon-light     : #F07346;
$color-epsilon-lightest  : #FF8D63;

// Typography
// ===============================================
$font-family-serif:           'Roboto Slab', Georgia, "Times New Roman", Times, serif;

$fw_extralight:                             200;
$fw_light:                                  300;
$fw_regular:                                400;
$fw_medium:                                 500;
$fw_semibold:                               600;
$fw_bold:                                   700;
$fw_extrabold:                              800;
$fw_black:                                  900;

$font-size-secondary:                       .875rem;

//------------------------------------------------------------------------------
// icomoon icons
//------------------------------------------------------------------------------

$i-arrow-up: "\e948";
$i-arrow-down: "\e945";
$i-arrow-left: "\e946";
$i-arrow-right: "\e947";
$i-chevron-up: "\e94c";
$i-chevron-down: "\e949";
$i-chevron-left: "\e94a";
$i-chevron-right: "\e94b";
$i-link: "\e94f";
$i-external-link: "\e940";
$i-websites: "\e944";
$i-sales: "\e953";
$i-sales_2: "\e931";
$i-marketing: "\e922";
$i-apps_1: "\e904";
$i-apps_2: "\e905";
$i-app_features: "\e902";
$i-app-favorites: "\e903";
$i-basics: "\e906";
$i-cart: "\e907";
$i-shop: "\e937";
$i-accountant: "\e900";
$i-customer-reviews: "\e90d";
$i-hr: "\e91c";
$i-developer: "\e90e";
$i-users: "\e93f";
$i-doc-hr: "\e90f";
$i-doc-apps: "\e910";
$i-doc-contribute: "\e911";
$i-doc-admin_2: "\e912";
$i-doc-dev: "\e92d";
$i-doc-services: "\e913";
$i-doc-admin: "\e933";
$i-documentation: "\e914";
$i-scaleup: "\e934";
$i-knowledge: "\e920";
$i-tutorial: "\e93e";
$i-elearning_1: "\e915";
$i-elearning_2: "\e916";
$i-install: "\e91e";
$i-o-edu: "\e926";
$i-certifications: "\e908";
$i-events: "\e917";
$i-showcase: "\e938";
$i-jobs: "\e91f";
$i-finances: "\e919";
$i-money-bag: "\e923";
$i-money-plant: "\e924";
$i-o-help: "\e927";
$i-o-logo: "\e928";
$i-o-services: "\e929";
$i-o-tour: "\e92a";
$i-services: "\e936";
$i-operations_1: "\e92b";
$i-operations_2: "\e92c";
$i-performance: "\e92f";
$i-time-management_2: "\e93b";
$i-time-management: "\e93c";
$i-advanced: "\e901";
$i-search: "\e935";
$i-view: "\e952";
$i-view-more: "\e950";
$i-view-next: "\e951";
$i-partners: "\e92e";
$i-contact: "\e90c";
$i-forums: "\e91a";
$i-github: "\e91b";
$i-support: "\e939";
$i-collaborating: "\e90a";
$i-compare: "\e90b";
$i-themes: "\e93a";
$i-translate: "\e93d";
$i-release: "\e930";
$i-info: "\e91d";
$i-warning: "\e943";
$i-danger: "\e94d";
$i-note: "\e925";
$i-exercise: "\e918";
$i-lightbulb: "\e921";
$i-check: "\e909";
$i-edit: "\e932";
$i-article: "\e94e";
$i-sidepanel: "\e941";
$i-close: "\e942";


//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$o-violet:                                  #875a7b;
$o-violet-dark:                             #7A436B;
$o-violet-darkest:                          #64305E;

$o-inverse-lightest:                        #98a6b0;
$o-inverse-light:                           #8b979f;
$o-inverse:                                 #47738f;
$o-inverse-dark:                            #5b7687;
$o-inverse-darker:                          #485761;

$color-alpha:                               #00A19B;
$color-alpha-dark:                          #017e84;
$color-alpha-light:                         #26d1af;
$color-alpha-lightest:                      #2aebc4;

$color-beta:                                #5b899e;
$color-beta-dark:                           #3d5d6b;
$color-beta-light:                          #699fb8;
$color-beta-lightest:                       #77b5d1;

$color-gamma:                               #e46f78;
$color-gamma-dark:                          #b0565c;
$color-gamma-light:                         #fc7c84;
$color-gamma-lightest:                      #fc959c;

$color-delta:                               #5c5b80;
$color-delta-dark:                          #37364d;
$color-delta-light:                         #6e6d99;
$color-delta-lightest:                      #807fb3;

$color-epsilon:                             #d5653e;
$color-epsilon-dark:                        #a34e2f;
$color-epsilon-light:                       #f07346;
$color-epsilon-lightest:                    #ff8d63;

$header-link-normal:                        #343a40;

$gray-lightest:                             #F9F9F9;
$gray-lighter:                              #F2F2F2;
$gray-light:                                #d5d5d5;
$gray:                                      #888888;
$gray-dark:                                 #707070;
$gray-darker:                               #282F33;

$primary:                                   $color-alpha-dark;
$secondary:                                 $o-violet-dark;

$brand-primary :                            $o-violet;
$brand-success :                            #50AF51;
$brand-info:                                #4B9EB6;
$brand-warning :                            #f39c1e;
$brand-danger  :                            #D9534F;

$doc_paper_dark:                            $gray-lighter;
$doc_paper:                                 #ffffff;
$doc_example:                               #519161;
$doc_exercise:                              #938E94;
$doc_code-bg:                               #F8F8F8;
$doc_lime:                                  #CDDC39;
$doc_orange:                                #FF5722;
$doc_cyan:                                  $color-alpha;

//------------------------------------------------------------------------------
// Misc
//------------------------------------------------------------------------------

// Header
$o-header-mobile-height:                    50px;
$o-header-height:                           80px;
$o-header-white:                            #ffffff;

$o-subheader-height:                        32px;

$o-headers-mobile-height:                   $o-header-mobile-height + $o-subheader-height;
$o-headers-height:                          $o-header-height + $o-subheader-height;
// Navigation
$o-side-nav-width:                          350px;
$o-on-page-width:                           20%;

// o_has_code_column pages
$o-halfpage-width:                          54%;
$o-codecol-width:                           43%;

// Paddings and margins
$padding-xs:                                .5rem;
$padding-s:                                 1rem;
$padding-m:                                 2rem;
$padding-l:                                 3rem;
$margin-s:                                  $padding-s;
$margin-m:                                  $padding-m;
$margin-l:                                  $padding-l;
