
section#terms-and-conditions table td {
    /* make sure icons and links aren't wrapped */
    white-space: nowrap;
}

section#terms-and-conditions table img.img-fluid {
    margin: 0px;
}

section#terms-and-conditions table td:nth-child(2),
section#terms-and-conditions table th:nth-child(2) {
    background-color: #f3f3f3;
}
