#wrap main table.o-showcase-table > tbody > tr.row-even .highlight-text {
    border: none;
    margin: 0;
}

table.o-showcase-table > tbody > tr.row-odd > td {
    display: block;
    border: 1px solid #d5d5d5;
    padding: 2rem;
    border-radius: 3px 3px 0 0;
}

table.o-showcase-table > tbody > tr.row-odd > td .highlight-text {
    margin: 0;
}

table.o-showcase-table > tbody > tr.row-even > td {
    display: grid;
    padding: 1rem;
    background: #f8f8f8;
    border: 0;
    border-radius: 0 0 3px 3px;
}
