.alternatives-controls label {
    display: block;
}
dl.alternatives > dt, dl.alternatives > dd {
    display: none;
}
dl.alternatives > dd {
    margin-left: 0;
}

.values-table {
    border: 1px solid #d5d5d5;
    background-color: #f8f8f8;
    width: 80%;
    margin: 0px auto;
    text-align: right;
    tr > th:first-of-type {
        text-align: left;
    }
}

.accounting-entries, .journal-entries, .values-table {
    border: 1px solid #d5d5d5;
    background-color: #f8f8f8;
    width: 80%;
    margin: 0px auto;
}
.entries-listing {
    padding: .5rem;
}

#accounting-entries-controls label,
#journaling-entries-controls label {
    display: block;
}

.feature-table {
    table {
        width: unset;
        margin: auto;
        white-space: nowrap;
        text-align: center;
    }
    td {
        width: 32px;
    }
    tbody td:first-child {
        text-align: left;
    }
    td:has(.good) { background-color: #d9ead3 !important; }
    td:has(.meh)  { background-color: #fce5cd !important; }
    td:has(.bad)  { background-color: #f4cccc !important; }
}
