li > p {
    margin: 0;
    cursor: pointer;
}

.related {
    background-color: #cbdbf8 !important;
}
.secondary {
    background-color: #dce6f8 !important;
}

.accounts-table {
    font-size: 90%;
}

.accounts-table dl {
    margin: 0;
}

.accounts-table h4 {
    text-align: center;
    color: rgb(152, 155, 158);
}
/* table root */
.accounts-table > div {
    display: flex;
    align-items: flex-start;
}
/* P&L & Balance Sheet columns */
.accounts-table > div > div {
    flex: 1;

    padding: 5px;
    margin: 5%;
    background-color: rgb(241, 244, 250);

    border: 3px solid rgb(223, 231, 240);
    border-radius: 3px;
}
/* sections */
.accounts-table > div > div div {
    display: flex;
    flex-direction: column;
}

.accounts-table > div > div div > h5 {
    order: 99;

    font-weight: bold;
    text-transform: uppercase;

    color: rgb(164, 168, 171);
    padding: 0.3em 0;
    border-image: linear-gradient(to bottom, transparent, rgb(221, 225, 231), transparent, rgb(221, 225, 231), transparent) 1 0 10 / 3px 0 3px;
}
.accounts-table > div > div div div > h5 {
    /* slightly smaller than normal 14px h5 size */
    font-size: 12.5px;
    border-image: linear-gradient(to bottom, transparent, rgb(221, 225, 231), transparent, rgb(221, 225, 231), transparent) 1 0 1;
}
.accounts-table dt {
    color: rgb(176, 178, 181);
    font-weight: normal;
}
.accounts-table dt span {
    font-style: italic;
}
.accounts-table dt span:last-child {
    font-style: normal;
}
.accounts-table dd {
    color: rgb(50, 50, 50);
}