li > p {
    margin: 0;
    cursor: pointer;
}

.related {
    background-color: #cbdbf8 !important;
}
.secondary {
    background-color: #dce6f8 !important;
}

.accounts-table {
    font-size: 90%;
    color: #888 !important;
}
.accounts-table .related {
    background-color: transparent !important;
    color: #eee !important;
    font-weight: bold;
}
.accounts-table .secondary {
    background-color: transparent !important;
    color: #ccc !important;
}

.accounts-table dl {
    margin: 0;
}

.accounts-table h4, .accounts-table h5 {
    font-weight: normal;
}
.accounts-table .related h4, .accounts-table h4.related,
.accounts-table .related h5, .accounts-table h5.related {
    font-weight: bold;
}

.accounts-table h4 {
    text-align: center;
}
/* table root */
.accounts-table > div {
    display: flex;
    align-items: flex-start;
}
/* P&L & Balance Sheet columns */
.accounts-table > div > div {
    flex: 1;

    padding: 5px;
    margin: 5%;

    border: 3px solid #666;
    border-radius: 3px;
}
/* sections */
.accounts-table > div > div div {
    display: flex;
    flex-direction: column;
}

.accounts-table > div > div div > h5 {
    order: 99;

    text-transform: uppercase;

    padding: 0.3em 0;
    border-image: linear-gradient(to bottom, transparent, rgb(221, 225, 231), transparent, rgb(221, 225, 231), transparent) 5 0 10 / 3px 0 3px;
}
.accounts-table > div > div div div > h5 {
    /* slightly smaller than normal 14px h5 size */
    font-size: 12.5px;
    border-image: linear-gradient(to bottom, transparent, rgb(221, 225, 231), transparent, rgb(221, 225, 231), transparent) 5 0 5;
}
.accounts-table dt {
    font-weight: normal;
}
.accounts-table .related dt,
.accounts-table dt.related {
    font-weight: bold;
}
.accounts-table dt span {
    font-style: italic;
}
.accounts-table dt span:last-child {
    font-style: normal;
}
